<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.yifeiyuan.hf.aidl">

    <permission
        android:name="com.taobao.taobao.storage.WRITE"
        android:protectionLevel="normal"
        />
    <uses-permission android:name="com.taobao.taobao.storage.WRITE" />

<!--    <permission-->
<!--        android:name="com.taobao.taobao.ACCESS_STORAGE"-->
<!--        android:protectionLevel="normal" />-->

<!--    <uses-permission android:name="com.taobao.taobao.ACCESS_STORAGE" />-->

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/Theme.HeadFirstAIDL">
        <activity android:name=".messenger.TestMessengerActivity"></activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="me.yifeiyuan.hf.aidl.MyService" />
            </intent-filter>
        </service>
        <service
            android:name=".Server"
            android:enabled="true"
            android:exported="true"
            android:process=":server"
            >
<!--            android:permission="com.taobao.taobao.storage.WRITE"-->
            <intent-filter>
                <action android:name="me.yifeiyuan.hf.aidl.Server.Action" />
            </intent-filter>
        </service>
        <service
            android:name=".RemoteService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <service
            android:name=".messenger.MessengerService"
            android:process=":messenger"
            />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>